@page
@model IndexModel
@{
    ViewData["Title"] = "Посетители";
}

<h2>Посетители</h2>
<a class="btn btn-primary mb-3" asp-page="Create">Добавить посетителя</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visitor in Model.Visitors)
        {
            <tr>
                <td>@visitor.Name</td>
                <td>@visitor.Surname</td>
                <td>@visitor.Patronymic</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-page="Edit" asp-route-id="@visitor.Id">Изменить</a>
                    <a class="btn btn-sm btn-danger" asp-page="Delete" asp-route-id="@visitor.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
